#wrap{
    width:1200px;
    margin: 0 auto;
}

.logo{
    width:200px;
    height:75px;
}

.menu{
    width:200px;
}
.main{
    width:1000px;
}
.sidebar{
    background-color:rgb(100,149,236);
}

.logo-text{
    font-size:25px;
}


footer > .bottom-logo{
    width:200px;
    height:100px;
}

footer > .copyright{
    width:1000px;
    height:100px;
}

.copyright > .copyright-text{
    color:rgb(191,191,191);
}