<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sourjelly.springtest.ajax.repository.PensionRepository">
<!--    전체행 조회-->
    <select id="selectAllInfo"
    resultType="com.sourjelly.springtest.ajax.domain.Booking">
        SELECT
            `id`
            , `name`
            , `headcount`
            , `day`
            , `date`
            , `phone_number`
            , `state`
            FROM
                `booking`
            ORDER BY `id`

    </select>

<!--    이름과, 전화번호로 조회-->
    <select id="selectBooking" parameterType="string"
    resultType="com.sourjelly.springtest.ajax.domain.Booking">
        SELECT
            `id`
             , `name`
             , `headcount`
             , `day`
             , `date`
             , `phone_number`
             , `state`
        FROM
            `booking`
        WHERE
            `name` = #{name}
            AND
            `phone_number` = #{phoneNumber}


    </select>

    <delete id="deleteBooking" parameterType="int">
        DELETE FROM
            `booking`
        WHERE
            `id` = #{id}
    </delete>

    <insert id="insertBooking"
    parameterType="com.sourjelly.springtest.ajax.domain.Booking">
        INSERT INTO
            `booking`
        (
            `name`
            , `headcount`
            , `day`
            , `date`
            , `phone_number`)
        VALUE
        (
            #{name}
            , #{headcount}
            , #{day}
            , #{date}
            , #{phoneNumber}
        )

    </insert>

</mapper>