<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sourjelly.springtest.mybatis.repository.RealEstateRepository">

    <!-- 1번문제 -->
    <select id="selectRealEstate" parameterType="int"
    resultType="com.sourjelly.springtest.mybatis.domain.RealEstate">
        SELECT
            `id`
            , `realtor_id`
            , `address`
            , `area`
            , `type`
            , `price`
            , `rent_price`
            , `created_at`
            , `updated_at`
        FROM
            `real_estate`
        WHERE
            `id`=#{id}

    </select>

    <!-- 2번 문제 -->
    <select id="rentPriceSelect" parameterType="int"
    resultType="com.sourjelly.springtest.mybatis.domain.RealEstate">

        SELECT
             `id`
            , `realtor_id`
            , `address`
            , `area`
            , `type`
            , `price`
            , `rent_price`
            , `created_at`
            , `updated_at`
        FROM
            `real_estate`
        WHERE
            <![CDATA[
            `tpye` = '월세'
            `rent_price` < 90]]>
    </select>

    <!-- 3번 문제 -->
    <select id="conditionSelect" parameterType="map"
    resultType="com.sourjelly.springtest.mybatis.domain.RealEstate">
        SELECT
              `id`
            , `realtor_id`
            , `address`
            , `area`
            , `type`
            , `price`
            , `rent_price`
            , `created_at`
            , `updated_at`
        FROM
            `real_estate`
        WHERE
            <![CDATA[
            `area` >= #{area}
          AND `price` <= #{price}
          ]]>
    </select>

    <insert id="insertRealEstateByObject"
    parameterType="com.sourjelly.springtest.mybatis.domain.RealEstate">
        INSERT INTO
            `real_estate`
        (
            `realtor_id`
            , `address`
            , `area`
            , `type`
            , `price`
        )
        VALUE
        (
            #{realtorId}
            , #{address}
            , #{area}
            , #{type}
            , #{price}
        )
    </insert>

    <insert id="insertRealEstateByParameter"
    parameterType="map">
        INSERT INTO
            `real_estate`
        (
            `realtor_id`
            , `address`
            , `area`
            , `type`
            , `price`
            , `rent_price`
        )
        VALUE
        (
            #{realtorId}
            , #{address}
            , #{area}
            , #{type}
            , #{price}
            , #{rentPrice}
        )

    </insert>

    <update id="updateRealEstateByObject"
    parameterType="com.sourjelly.springtest.mybatis.domain.RealEstate">
        UPDATE
            `real_estate`
        SET
            `type` = #{type} , `price` = #{price}, `updated_at` = now()
        WHERE
            `id` = #{id}

    </update>

    <delete id="deleteRealEstateByObject"
            parameterType="com.sourjelly.springtest.mybatis.domain.RealEstate">
        DELETE FROM
                   `real_estate`
        WHERE
            `id` = #{id}
    </delete>



</mapper>