<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sourjelly.springtest.mvc.repository.SellerRepository">

    <select id="selectSellerOnRecent"
    resultType="com.sourjelly.springtest.mvc.domain.Seller">
        SELECT
            `id`
            , `nickname`
            , `temperature`
            , `profile_image`
        FROM
            `seller`
        ORDER BY
            `id` DESC
        LIMIT 1
    </select>

    <select id="selectIdSeller" parameterType="int"
    resultType="com.sourjelly.springtest.mvc.domain.Seller">
            SELECT
                `id`
                , `nickname`
                , `temperature`
                , `profile_image`
            FROM
                `seller`
            WHERE
                `id` = #{id}
    </select>

    <insert id="createSeller" parameterType="map">
        INSERT INTO
            `seller`
        (   `nickname`
            , `temperature`
            , `profile_image`)
        VALUE
        (
            #{nickname}
            , #{temperature}
            , #{profileImage}
        )

    </insert>


</mapper>