<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기 목록보여주기</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h3>즐겨 찾기 추가</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>NO.</th>
                    <th>이름</th>
                    <th>주소</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="urls , status : ${urlList}">
                    <td th:text="${status.count}">1</td>
                    <td th:text="${urls.name}">야후</td>
                    <td th:text="${urls.url}">http://yahuo.com</td>
                    <td><button th:data-url-id="${urls.id}" class="remove-btn btn btn-danger btn-sm">삭제</button></td>
                </tr>
            </tbody>
        </table>

    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $(".remove-btn").on("click", function(){
            let id = $(this).data("url-id");

            $.ajax({
                type:"get"
                , url:"/ajax/url/remove"
                ,data:{"id":id}
                ,success:function(response){
                    if(response.remove){
                        // 삭제됨
                        // {"remove": true}
                        location.reload();

                    }else{
                        alert(" 삭제 실패 관리자한테 문의하세요");
                    }

                    // 삭제 안됨
                    // {"remove": false}
                }
                ,error:function(){
                    alert("제거 에러");
                }
            });

        });
    </script>
</body>
</html>