<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기 목록보여주기</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h3>즐겨 찾기 추가</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>NO.</th>
                    <th>이름</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>야후</td>
                    <td>http://yahuo.com</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>네이버</td>
                    <td>http://naver.com</td>
                </tr>
            </tbody>

        </table>

    </div>

</body>
</html>