#wrap {
    width:1200px;
    margin: 0 auto;
}

header {
    height:100px;
}

.main-menu {
    height:40px;
    background-color:peru;
}

.contents > .input
{
    width:600px;
    margin: 0 auto;
}

.main-contents > .booking {
    width:400px;
    height:300px;
    background-color: sienna;
}

.main-contents > .search {
    width:500px;
    height:300px;
    background-color: chocolate;
}

.main-contents > .contact {
    width:300px;
    height:300px;
    background-color: sienna;
}

footer {
    height:100px;
}