<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>기상청 매인 페이지</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/weather.css">
</head>
<body>

    <div id="wrap"  class="bg-success">
        <div class="d-flex">
            <div>
                <header class="bg-primary">
                    <img>
                </header>
                <nav class="menu bg-dark"></nav>
            </div>
        <section class="main bg-info"></section>
        </div>
        <footer class="bg-danger"></footer>
    </div>

</body>
</html>