#wrap{
    width:1200px;
    height:900px;
    margin: 0 auto;
}

header{
    width:200px;
    height: 100px;
}

.menu{
    width:200px;
    height:700px;
}
.main{
    width:1000px;
    height:800px;
}

footer{
    height:100px;
}